body {
  background-color: #fff;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 20px;
  color: purple;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.profile-picture {
  border-radius: 200px
}

.post {
  margin-top: 20px;
  margin-bottom: 50px;
}

.post-user {
  border-radius: 50px
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
